@model Student[]
@{
    ViewData["Title"] = "Home Page";
}

<h1>Students</h1>
<table>
    <thead>
        <tr>
            <td>FirstMidName</td>
            <td>LastName</td>
            <td>EnrollmentDate</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in this.Model)
        {
            <tr>
                <td>@student.FirstMidName</td>
                <td>@student.LastName</td>
                <td>@student.EnrollmentDate</td>
            </tr>
        }
    </tbody>
</table>